* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .idcare img{
    height: 412px;
    width: 475px;
    margin: auto;
    margin-top: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-idcare{
    height: 530px;
    padding-top:0px ;
}
